/* Custom Style */

body{
	padding: 10px 15px;
	margin: 10px;
	font-size: 110%;
    color: #000000;
}
header{
	background-color: #968C00;
	background-image: url('../images/flywheel.jpg');
	background-repeat: no-repeat;
	background-size: 1400px;
	padding: 10px 50px 20px 50px;
}
h1{
	color: #FFFFFF;
	font-size: 28px;
	text-align: center;
	text-transform: uppercase;
}

/* Links */

nav a{
	display: inline-block;
	width: 10%;
	text-align: center;
	color: #000000;
	text-decoration: none;
	padding: 17px 50px;
	border-radius: 6px;
	margin-right: 65px;
	margin-bottom: 15px;
	background-color: rgb(255, 255, 255, .3)
}
.active{
	background-color: rgb(255, 255, 255) ;
	color: #29318C;
}

/* Images and Text*/

.left, .right{
	display: inline-block;
}
.left{
	float: left;
	width: 16%;
	background-color: #968C00;
	padding: 35px 15px 35px 15px;
	height: 100vh;
}
.right{
	width: 75%;
	padding: 0px 7px;
	margin: 0px 15px;
}
.left img{
	border: 2px solid #000000;
	display: block;
	width: 85%;
	margin: 0 auto;
	margin-bottom: 30px;
}

/* Styling a Table */

table{
	border-collapse: separate;
	border-spacing: 0;
	font: 16px/1.4 bold Georgia, Helvetica, Arial, sans-serif;
	width: 75%;
	margin-left: 10%;
}
th, td{
	border: 1.5px solid  #fff;
}
tr th{ 
	background: #6e3d0d;
    background: -webkit-linear-gradient(#6e3d0d, #EBDF52);
    background:    -moz-linear-gradient(#6e3d0d, #EBDF52);
    background:         linear-gradient(#6e3d0d, #EBDF52);
    color: #fff;
    font-variant: small-caps;
    font-size: 110%;
    border-bottom: 3px solid #fff;
    text-shadow: 6px 6px 2px rgba(0, 0, 0, .3);
}
th, td {
	text-align: center;
	padding: 10px 15px;
	background-color: #f2f2bf;
	border-radius: 2px;
	color: #5D6570;
}
tr th:first-child {
	border-top-left-radius: 10px;
	text-align: left;
}
tr th:last-child {
	border-top-right-radius: 10px;
}
tr td:first-child {
	text-align: left;
}
tr{
	opacity: 0.7;
}
tr:hover {
	opacity: 1;
}
